node_modules
dist/
.env

.env
.env.*            # For multiple environments
.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*

node_modules/
package-lock.json
yarn.lock


dist/
build/
.temp/
.cache/
.vite/

.vscode/


*.swp
*.swo
*.bak
*.tmp

coverage/
nyc_output/


*.sqlite
*.db
*.sql
dump.rdb

frontend/node_modules/
frontend/dist/


backend/node_modules/


.git/



